
* {
    font-family: 'Lora', serif;
}

/* Navbar */
.navbar {
    padding: 0.5rem;
    background-color: #b8b8b8;
    
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    background-image: linear-gradient(90deg, black, #a1a1a1);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: background-size 300ms ease-in-out;
}

.nav-link:hover {
    background-size: 100% 2px;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.hero {
    background-color: #b8b8b8;
    min-height: 450px;  
    text-align: center;  
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem; 
    font-family: 'Montserrat', sans-serif; 
}

.section-dark {
    background-color: #0e0e19;
    color: white;
}

.section-light {
    color: black;
    background-color: white;
}

.section-title {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;  
}

.section-text {
    font-size: 1.2rem;
}

.navbar-brand img {
    background-color: #b8b8b8;
}

.text-dark {
    color: black;
}


/*Hero*/

.container-hero {
    margin-top: 50px;
}

.hero-principal {
    padding-bottom: 2rem;
    padding-top: 1rem;
    top: 50%;
    left: 50%;
}

.hero-sup-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    object-fit:cover;
}

.hero-principal h2 {
    font-size: 1.2rem;
    color: #615151;
}


/*About*/
.aboutme {
   padding: 50px;
}

.aboutme .section-title {
    font-size: 2.5rem;
}

.aboutme .contenedor {
    max-width: 800px;
}

.aboutme h2 {
    font-size: 1.5rem;
}


/*Experience*/
.experience {
    padding: 40px 40px 60px 40px;
}

.experience a {
    text-decoration: none;
    color: #0a0a23;
}

.experience-title {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    min-height: 60px;
}

.coursera-text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0 30px 0;
}

.experience img {
    margin: 20px 0;
    width: 90px;
    height: 90px;
}

.experience .columna {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.badge-container {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    background-color:  #b8b8b8;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}


.badge-container span {
    border: 2px solid white;
    transition: all 0.4s ease-in-out;
}

.badge-container span:hover {
    opacity: 0.6;
}


.experience .columna:hover {    
    transform: scale(1.1);
}

/* Proyects */
.recent-proyects {
    padding: 40px;
}

.proyects-container .row {
    display: flex;
    justify-content: center;
}

.proyects-description {
    font-size: 1.2rem;
    color: #584e4e;
}

.proyect img{
    display: block;

    height: 80%;
    width: 80%;
    padding: 10px;
    transition: all 0.4s ease-in-out;
    object-fit: contain;
}

.proyect .logojavi {
    background: #0a0a23;
    border-radius: 20px;
}

.proyects-container {
    padding-top: 60px;
    margin-bottom: 80px;
}

.overlay {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyect {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyect:hover img {
    opacity: 0.2;
}

.proyect:hover .overlay {
    opacity: 1;
}

.overlay .icons-container {
    display: flex;
 }

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

/*Contacto*/

.contact .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.rectangle {
    margin-top: -5rem;
    background-color: rgb(63, 70, 82);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contact .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact .description {
    color: white;
    font-size: 1.2rem;
}

.contact .whatsapp {
    margin: 30px;
    color: white;
    font-size: 2rem;
    transition: all 0.4s ease-in-out;
}

.contact .mail {
    margin: 30px;
    color: white;
    font-size: 2rem;
    transition: all 0.4s ease-in-out;
}

.contact .mail:hover {
    color: #0000ff;
}

.contact .whatsapp:hover {
    color: #009220;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer */

footer {
    min-height: 500px;    
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    padding: 20px;
    margin-bottom: 30px;
}

.social-icons a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

.social-icons i {
color: white;
font-size: 1.5rem;
transition: all 0.4s ease-in-out;
}

.social-icons a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.social-icons a:hover i {
    color: black;
}

.author {
    font-size: 15px;
    color: #979797;
    padding: 20px;
}

.back-top a {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    width: 50px;
    height: 50px;    
    bottom: 20px;
    right: 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

.back-top i {
color: black;
font-size: 1.5rem;
transition: all 0.4s ease-in-out;
}

.back-top a:hover {
    background-color: black;
    border: 2px solid white;
}

.back-top a:hover i {
    color: white;
}


/* Adaptacion */

@media screen and (min-width: 1024px) {
    .hero-inf-img {
      max-width: 600px;
    }
}

@media screen and (max-width: 600px) {
   .overlay p {
    font-size: 18px;
   }
   .overlay i {
    font-size: 40px;
   }
   .hero-principal {
    padding-bottom: 2rem;
    padding-top: 5.5rem;
    top: 50%;
    left: 50%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .hero-principal h2 {
      display: none;
    }
  }